.header {
  width: 100%;
  height: 77px;
  background: #202020;
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.header .header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0px;
}
.header .header__section .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header__section .header__logo img {
  padding-right: 10px;
}
.header .header__section .header__logo p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.header .header__section .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header__section .header__navigation .link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0px 30px;
}

.burger {
  display: none;
}

.burger__menu {
  top: -140px;
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line:nth-child(even) {
    margin: 6px 0px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .header__logo {
    z-index: 100;
  }

  .header._active {
    background: #202020;
  }

  .burger._active {
    position: relative;
    width: 30px;
    height: 31px;
    z-index: 100;
    overflow: hidden;
  }
  .burger._active .line:nth-child(2) {
    opacity: 0;
    position: absolute;
  }
  .burger._active .line:nth-child(1) {
    top: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1300ms ease;
    transition: -webkit-transform 1300ms ease;
    -o-transition: transform 1300ms ease;
    transition: transform 1300ms ease;
    transition: transform 1300ms ease, -webkit-transform 1300ms ease;
  }
  .burger._active .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform 900ms ease;
    transition: -webkit-transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease;
    transition: transform 900ms ease, -webkit-transform 900ms ease;
    top: 10px;
    position: absolute;
  }

  .header._active {
    height: 141px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger__menu {
    width: 740px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe9e46), to(#ffd74a));
    background: -o-linear-gradient(top, #fe9e46 0%, #ffd74a 100%);
    background: linear-gradient(180deg, #fe9e46 0%, #ffd74a 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #ffffff;
  }

  .header .header__section .header__navigation {
    display: none;
  }
  .header .header__section .btn {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .burger__menu._active .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    padding: 0px 20px;
  }

  .burger__menu {
    width: 540px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe9e46), to(#ffd74a));
    background: -o-linear-gradient(top, #fe9e46 0%, #ffd74a 100%);
    background: linear-gradient(180deg, #fe9e46 0%, #ffd74a 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #ffffff;
  }

  .burger__menu._active .burger__container {
    width: 540px;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 15px;
  }
  .burger__menu._active .burger__container .btn {
    padding: 11px 30px;
  }
}
@media screen and (max-width: 576px) {
  .burger__menu {
    width: 85%;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .burger__menu._active {
    width: 85%;
  }
  .burger__menu._active .burger__container {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 135.4%;
  color: #000000;
}

p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.9%;
  color: #000000;
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}

.section:nth-child(1) {
  padding-top: 0px;
}

.section {
  width: 100%;
  padding-top: 120px;
}

.section:nth-child(4) {
  padding-top: 36px;
}

.section:nth-child(8) {
  padding-bottom: 120px;
}

.btn {
  padding: 11px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
  background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
  background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
  -webkit-box-shadow: 1px 1px 2px #FEC148;
  box-shadow: 1px 1px 2px #FEC148;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135.4%;
  text-align: center;
  color: #FFFFFF;
}

.btn:hover {
  -webkit-box-shadow: 1px 1px 5px #FEC148;
  box-shadow: 1px 1px 5px #FEC148;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn:focus {
  font-size: 18px;
  color: #dbdbdb;
  -webkit-box-shadow: 1px 1px 5px #fe9148;
  box-shadow: 1px 1px 5px #fe9148;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.section__container .container .block__h1 h1 {
  width: 1000px;
  height: 152px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 135.4%;
  text-align: center;
  color: #FFFFFF;
}

.news__company .card__new:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.eot");
  src: url("../fonts/Nunito-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff"), url("../fonts/Nunito-Black.ttf") format("truetype"), url("../fonts/Nunito-Black.svg#Nunito-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.eot");
  src: url("../fonts/Nunito-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff"), url("../fonts/Nunito-ExtraBold.ttf") format("truetype"), url("../fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"), url("../fonts/Nunito-Bold.svg#Nunito-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.eot");
  src: url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/fonts/Nunito-SemiBold.svg#Nunito-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.eot");
  src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito-Light.svg#Nunito-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.eot");
  src: url("../fonts/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLight.woff2") format("woff2"), url("../fonts/Nunito-ExtraLight.woff") format("woff"), url("../fonts/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg#Nunito-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
.burger {
  display: none;
}

.burger__menu {
  top: -140px;
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .burger__menu {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .section:nth-child(1)._active .block__h1 {
    top: 164px;
    -webkit-transition: top 600ms ease;
    -o-transition: top 600ms ease;
    transition: top 600ms ease;
  }

  .burger__menu._active {
    opacity: 1;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line:nth-child(even) {
    margin: 6px 0px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .burger._active {
    position: relative;
    width: 30px;
    height: 31px;
    z-index: 100;
    overflow: hidden;
  }
  .burger._active .line:nth-child(2) {
    opacity: 0;
    position: absolute;
  }
  .burger._active .line:nth-child(1) {
    top: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1300ms ease;
    transition: -webkit-transform 1300ms ease;
    -o-transition: transform 1300ms ease;
    transition: transform 1300ms ease;
    transition: transform 1300ms ease, -webkit-transform 1300ms ease;
  }
  .burger._active .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform 900ms ease;
    transition: -webkit-transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease;
    transition: transform 900ms ease, -webkit-transform 900ms ease;
    top: 10px;
    position: absolute;
  }

  .header._active {
    height: 141px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger__menu {
    width: 740px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
    background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
    background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 800px) {
  .burger__menu._active .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }

  .section:nth-child(1)._active {
    padding-top: 0px;
  }

  .burger__menu {
    width: 540px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
    background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
    background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #FFFFFF;
  }

  .burger__menu._active .burger__container {
    width: 540px;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 15px;
  }
  .burger__menu._active .burger__container .btn {
    padding: 11px 30px;
  }
}
@media screen and (max-width: 576px) {
  .header._active {
    height: 241px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu {
    width: 85%;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .burger__menu._active {
    width: 85%;
  }
  .burger__menu._active .burger__container {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .section:nth-child(1) .block__h1 {
    -webkit-transition: padding-top 600ms ease;
    -o-transition: padding-top 600ms ease;
    transition: padding-top 600ms ease;
    padding-top: 10px;
    top: 104px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .section:nth-child(1) .section__container .container .block__h1 p {
    padding-top: 10px;
    width: 266px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 80px;
  }
  .section:nth-child(1) .section__container .container .block__h1 .btn {
    margin-top: 30px;
  }

  .section:nth-child(1)._active .block__h1 {
    -webkit-transition: padding-top 600ms ease;
    -o-transition: padding-top 600ms ease;
    transition: padding-top 600ms ease;
    padding-top: 10px;
    top: 254px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .section:nth-child(1)._active .section__container .container .block__h1 p {
    padding-top: 10px;
    width: 266px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 80px;
  }
  .section:nth-child(1)._active .section__container .container .block__h1 .btn {
    margin-top: 30px;
  }
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.header .burger__menu._active .burger__container .burger__navigation .link__four {
  color: #FEAB47;
}

.header .header__section .header__navigation .link__four {
  color: #FEAB47;
}

.main {
  padding: 20px 0px 80px 0px;
}

h1 {
  text-align: center;
}

.section__news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.container__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.container__news .line {
  width: 48.5px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin: 40px 0px;
}
.container__news .line:hover {
  -webkit-box-shadow: 0px 1px 4px #7000FF;
  box-shadow: 0px 1px 4px #7000FF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.container__news .text {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container__news .text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.container__news .text p:nth-child(2) {
  padding: 25px 0px;
}
.container__news .text p:nth-child(2) a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #075DDD;
}

.block__news {
  padding-left: 30px;
}
.block__news .container__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 20px;
}
.block__news .container__news span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 25px;
}
.block__news .container__news .news__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.block__news .container__news .news__company .card__new {
  position: relative;
  width: 370px;
  height: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.block__news .container__news .news__company .card__new img {
  position: absolute;
  left: 20px;
  top: 20px;
}
.block__news .container__news .news__company .card__new p {
  position: absolute;
  width: 330px;
  height: 80px;
  left: 20px;
  top: 160px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.block__news .container__news .news__company .card__new .line {
  position: absolute;
  left: 280px;
  top: 240px;
  width: 74.5px;
  border: 2px solid #FEAB47;
  border-radius: 5px;
}
.block__news .container__news .news__company .card__new:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}
.block__news .container__news .news__company .card__news-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 0px;
}
.block__news .container__news .news__company .card__news-two .card__new {
  position: relative;
  width: 370px;
  height: 160px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 30px;
}
.block__news .container__news .news__company .card__news-two .card__new p {
  position: absolute;
  width: 330px;
  height: 80px;
  left: 20px;
  top: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.block__news .container__news .news__company .card__news-two .card__new .line {
  position: absolute;
  left: 270px;
  top: 100px;
  width: 74.5px;
  border: 2px solid #FEAB47;
  border-radius: 5px;
}
.block__news .container__news .news__company .card__news-two .card__new:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}
.block__news .container__news .news__company .card__new-big {
  position: relative;
  width: 370px;
  height: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.block__news .container__news .news__company .card__new-big img {
  position: absolute;
  left: 20px;
  top: 20px;
}
.block__news .container__news .news__company .card__new-big p {
  position: absolute;
  width: 330px;
  height: 80px;
  left: 20px;
  top: 160px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.block__news .container__news .news__company .card__new-big .line {
  position: absolute;
  left: 280px;
  top: 240px;
  width: 74.5px;
  border: 2px solid #FEAB47;
  border-radius: 5px;
}
.block__news .container__news .news__company .card__new-big:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.footer__container-phone {
  display: none;
}

.footer {
  width: 100%;
  height: 559px;
  background: #191919;
  padding: 120px 0px;
}
.footer .footer__container .block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 60px;
}
.footer .footer__container .block__img p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer .footer__container .block__img .img__a {
  width: 148px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .block__img .img__a a:nth-child(3) {
  padding-top: 2px;
}
.footer .footer__container hr {
  border: 1px solid #fff;
}
.footer .footer__container .footer__section {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0px;
}
.footer .footer__container .footer__section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .footer__section .logo img {
  padding-right: 10px;
}
.footer .footer__container .footer__section .logo p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer .footer__container .footer__section .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .footer__container .footer__section .footer__navigation .link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0px 30px;
}
.footer .footer__container .footer__social {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .footer__social p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer__container .footer__social .social__network {
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1060px) {
  .footer {
    width: 100%;
    height: 489px;
    background: #191919;
    padding: 80px 0px;
  }

  .footer .footer__container .footer__section .footer__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    height: 559px;
    padding: 60px 0px;
  }
  .footer .footer__container {
    display: none;
  }
  .footer .footer__container-phone {
    display: block;
  }
  .footer .footer__container-phone .block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 60px;
  }
  .footer .footer__container-phone .block__img p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .footer .footer__container-phone .block__img .img__a {
    width: 148px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer .footer__container-phone .block__img .img__a a:nth-child(3) {
    padding-top: 2px;
  }
  .footer .footer__container-phone hr {
    border: 1px solid #fff;
  }
  .footer .footer__container-phone .footer__section {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo img {
    padding-right: 10px;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .footer__navigation {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .footer__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 8px 0px;
  }
  .footer .footer__container-phone .footer__section .footer__section-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .footer .footer__container-phone .footer__section .footer__section-right p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    padding: 75px 0px;
  }
  .footer .footer__container-phone .footer__section .footer__section-right .social__network img {
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    height: 459px;
    padding: 40px 0px;
  }

  .footer .footer__container-phone .footer__section .footer__section-right p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    padding: 65px 0px;
    text-align: right;
  }

  .footer .footer__container-phone .footer__section .footer__section-right .btn {
    padding: 11px 30px;
  }

  .footer .footer__container-phone .block__img {
    padding-bottom: 20px;
  }

  .footer .footer__container-phone .footer__section {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 1100px;
  }

  .container__news img {
    width: 100%;
  }

  .block__news .container__news .news__company .card__new-big img {
    position: absolute;
    left: 20px;
    width: 90%;
    top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }

  h1 {
    font-size: 46px;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    width: 740px;
  }

  .block__news .container__news .news__company .card__new-big {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .block__news .container__news .news__company .card__new-big img {
    position: absolute;
    left: 15px;
    width: 90%;
    top: 15px;
  }

  .block__news .container__news .news__company .card__new-big p {
    width: 90%;
    left: 15px;
    top: 130px;
    font-size: 14px;
  }

  .block__news .container__news .news__company .card__new-big {
    position: relative;
    width: 300px;
    height: 280px;
  }

  .block__news .container__news .news__company .card__new-big .line {
    position: absolute;
    left: 210px;
    top: 225px;
  }

  .block__news .container__news .news__company .card__news-two .card__new {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
    height: 140px;
  }
  .block__news .container__news .news__company .card__news-two .card__new p {
    width: 90%;
    left: 15px;
    top: 15px;
    font-size: 14px;
  }
  .block__news .container__news .news__company .card__news-two .card__new .line {
    position: absolute;
    left: 210px;
    top: 85px;
  }

  h1 {
    font-size: 40px;
  }

  .main {
    padding: 20px 0px 60px 0px;
  }

  .block__news .container__news .news__company .card__new img {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 90%;
  }

  .block__news .container__news .news__company .card__new {
    position: relative;
    width: 300px;
    height: 280px;
    margin-bottom: 20px;
  }

  .block__news .container__news .news__company .card__new p {
    width: 90%;
    left: 15px;
    top: 130px;
    font-size: 14px;
  }

  .block__news .container__news .news__company .card__new .line {
    position: absolute;
    left: 210px;
    top: 225px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 540px;
  }

  .block__news {
    padding-left: 20px;
  }

  .block__news .container__news .news__company .card__news-two .card__new {
    width: 200px;
    height: 140px;
  }

  .block__news .container__news .news__company .card__new-big {
    width: 200px;
    height: 280px;
  }

  h1 {
    font-size: 34px;
  }

  .block__news .container__news .news__company .card__news-two .card__new p {
    width: 92%;
    left: 10px;
    top: 10px;
    font-size: 12px;
  }

  .block__news .container__news .news__company .card__news-two .card__new .line {
    position: absolute;
    left: 115px;
    top: 90px;
  }

  .block__news .container__news .news__company .card__new-big img {
    position: absolute;
    left: 10px;
    width: 90%;
    top: 10px;
  }

  .block__news .container__news .news__company .card__new-big p {
    width: 90%;
    left: 10px;
    top: 90px;
    font-size: 12px;
  }

  .block__news .container__news .news__company .card__new-big .line {
    position: absolute;
    left: 115px;
    top: 230px;
  }

  .container__news .text p {
    font-size: 13px;
    line-height: 18px;
  }

  .container__news .line {
    margin: 20px 0px;
  }

  .block__news .container__news span {
    padding-bottom: 15px;
  }

  .block__news .container__news {
    padding-top: 5px;
  }

  .main {
    padding: 20px 0px 50px 0px;
  }

  .block__news .container__news .news__company .card__news-two .card__new .line {
    position: absolute;
    left: 115px;
    top: 105px;
  }

  .block__news .container__news .news__company .card__new-big .line {
    position: absolute;
    left: 115px;
    top: 245px;
  }

  .block__news .container__news .news__company .card__new {
    position: relative;
    width: 200px;
    height: 280px;
    margin-bottom: 20px;
  }

  .block__news .container__news .news__company .card__new img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 90%;
  }

  .block__news .container__news .news__company .card__new p {
    width: 90%;
    left: 10px;
    top: 90px;
    font-size: 13px;
  }

  .block__news .container__news .news__company .card__new .line {
    position: absolute;
    left: 115px;
    top: 245px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 85%;
  }

  .container__news .text p:nth-child(2) a {
    font-size: 14px;
  }

  .container__news .text p {
    font-size: 12px;
    line-height: 18px;
  }

  .block__news .container__news .news__company .card__news-two .card__new {
    margin-bottom: 10px;
  }

  .block__news .container__news .news__company .card__news-two .card__new .line {
    position: absolute;
    left: 115px;
    top: 105px;
  }

  .block__news .container__news .news__company .card__new-big .line {
    position: absolute;
    left: 115px;
    top: 245px;
  }

  .block__news {
    padding-left: 10px;
  }

  .block__news .container__news .news__company .card__news-two .card__new {
    width: 120px;
    height: 150px;
  }

  .block__news .container__news .news__company .card__news-two .card__new p {
    width: 90%;
    left: 5px;
    top: 5px;
    font-size: 10px;
    line-height: 15px;
  }

  .block__news .container__news .news__company .card__news-two .card__new .line {
    position: absolute;
    left: 40px;
    top: 120px;
  }

  .block__news .container__news .news__company .card__new-big {
    width: 120px;
    height: 280px;
  }

  .block__news .container__news .news__company .card__new-big img {
    left: 5px;
    width: 90%;
    top: 5px;
  }

  .block__news .container__news .news__company .card__new-big p {
    width: 90%;
    left: 5px;
    top: 90px;
    font-size: 10px;
  }

  .block__news .container__news .news__company .card__new-big p {
    width: 90%;
    left: 5px;
    top: 50px;
    font-size: 10px;
    line-height: 15PX;
  }

  .block__news .container__news .news__company .card__new-big .line {
    position: absolute;
    left: 40px;
    top: 175px;
  }

  .block__news .container__news .news__company .card__new-big {
    width: 120px;
    height: 205px;
  }

  h1 {
    font-size: 24px;
  }

  .block__news .container__news .news__company .card__new {
    position: relative;
    width: 120px;
    height: 280px;
    margin-bottom: 10px;
  }

  .block__news .container__news .news__company .card__new img {
    left: 5px;
    top: 5px;
    width: 90%;
    height: 60px;
  }

  .block__news .container__news .news__company .card__new p {
    width: 90%;
    left: 5px;
    top: 60px;
    font-size: 12px;
  }

  .block__news .container__news .news__company .card__new p {
    width: 90%;
    left: 5px;
    top: 70px;
    font-size: 10px;
    line-height: 15px;
  }

  .block__news .container__news .news__company .card__new .line {
    position: absolute;
    left: 40px;
    top: 210px;
  }

  .block__news .container__news .news__company .card__new {
    position: relative;
    width: 120px;
    height: 240px;
    margin-bottom: 10px;
  }
}
.footer .footer__container .footer__section .footer__navigation .link__four {
  color: #FEAB47;
}

.footer .footer__container-phone .footer__section .footer__section-left .footer__navigation .link__four {
  color: #FEAB47;
}
/*# sourceMappingURL=novelty.css.map */