.header {
  width: 100%;
  height: 77px;
  background: #202020;
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.header .header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0px;
}
.header .header__section .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header__section .header__logo img {
  padding-right: 10px;
}
.header .header__section .header__logo p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.header .header__section .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header__section .header__navigation .link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0px 30px;
}

.burger {
  display: none;
}

.burger__menu {
  top: -140px;
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line:nth-child(even) {
    margin: 6px 0px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .header__logo {
    z-index: 100;
  }

  .header._active {
    background: #202020;
  }

  .burger._active {
    position: relative;
    width: 30px;
    height: 31px;
    z-index: 100;
    overflow: hidden;
  }
  .burger._active .line:nth-child(2) {
    opacity: 0;
    position: absolute;
  }
  .burger._active .line:nth-child(1) {
    top: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1300ms ease;
    transition: -webkit-transform 1300ms ease;
    -o-transition: transform 1300ms ease;
    transition: transform 1300ms ease;
    transition: transform 1300ms ease, -webkit-transform 1300ms ease;
  }
  .burger._active .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform 900ms ease;
    transition: -webkit-transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease;
    transition: transform 900ms ease, -webkit-transform 900ms ease;
    top: 10px;
    position: absolute;
  }

  .header._active {
    height: 141px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger__menu {
    width: 740px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe9e46), to(#ffd74a));
    background: -o-linear-gradient(top, #fe9e46 0%, #ffd74a 100%);
    background: linear-gradient(180deg, #fe9e46 0%, #ffd74a 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #ffffff;
  }

  .header .header__section .header__navigation {
    display: none;
  }
  .header .header__section .btn {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .burger__menu._active .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    padding: 0px 20px;
  }

  .burger__menu {
    width: 540px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe9e46), to(#ffd74a));
    background: -o-linear-gradient(top, #fe9e46 0%, #ffd74a 100%);
    background: linear-gradient(180deg, #fe9e46 0%, #ffd74a 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #ffffff;
  }

  .burger__menu._active .burger__container {
    width: 540px;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 15px;
  }
  .burger__menu._active .burger__container .btn {
    padding: 11px 30px;
  }
}
@media screen and (max-width: 576px) {
  .burger__menu {
    width: 85%;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .burger__menu._active {
    width: 85%;
  }
  .burger__menu._active .burger__container {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 135.4%;
  color: #000000;
}

p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.9%;
  color: #000000;
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}

.section:nth-child(1) {
  padding-top: 0px;
}

.section {
  width: 100%;
  padding-top: 120px;
}

.section:nth-child(4) {
  padding-top: 36px;
}

.section:nth-child(8) {
  padding-bottom: 120px;
}

.btn {
  padding: 11px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
  background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
  background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
  -webkit-box-shadow: 1px 1px 2px #FEC148;
  box-shadow: 1px 1px 2px #FEC148;
  border-radius: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135.4%;
  text-align: center;
  color: #FFFFFF;
}

.btn:hover {
  -webkit-box-shadow: 1px 1px 5px #FEC148;
  box-shadow: 1px 1px 5px #FEC148;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn:focus {
  font-size: 18px;
  color: #dbdbdb;
  -webkit-box-shadow: 1px 1px 5px #fe9148;
  box-shadow: 1px 1px 5px #fe9148;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.section__container .container .block__h1 h1 {
  width: 1000px;
  height: 152px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 135.4%;
  text-align: center;
  color: #FFFFFF;
}

.news__company .card__new:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.eot");
  src: url("../fonts/Nunito-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff"), url("../fonts/Nunito-Black.ttf") format("truetype"), url("../fonts/Nunito-Black.svg#Nunito-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.eot");
  src: url("../fonts/Nunito-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff"), url("../fonts/Nunito-ExtraBold.ttf") format("truetype"), url("../fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"), url("../fonts/Nunito-Bold.svg#Nunito-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.eot");
  src: url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/fonts/Nunito-SemiBold.svg#Nunito-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.eot");
  src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito-Light.svg#Nunito-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.eot");
  src: url("../fonts/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLight.woff2") format("woff2"), url("../fonts/Nunito-ExtraLight.woff") format("woff"), url("../fonts/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg#Nunito-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
.burger {
  display: none;
}

.burger__menu {
  top: -140px;
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .burger__menu {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .section:nth-child(1)._active .block__h1 {
    top: 164px;
    -webkit-transition: top 600ms ease;
    -o-transition: top 600ms ease;
    transition: top 600ms ease;
  }

  .burger__menu._active {
    opacity: 1;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .burger .line:nth-child(even) {
    margin: 6px 0px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .burger._active {
    position: relative;
    width: 30px;
    height: 31px;
    z-index: 100;
    overflow: hidden;
  }
  .burger._active .line:nth-child(2) {
    opacity: 0;
    position: absolute;
  }
  .burger._active .line:nth-child(1) {
    top: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1300ms ease;
    transition: -webkit-transform 1300ms ease;
    -o-transition: transform 1300ms ease;
    transition: transform 1300ms ease;
    transition: transform 1300ms ease, -webkit-transform 1300ms ease;
  }
  .burger._active .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform 900ms ease;
    transition: -webkit-transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease;
    transition: transform 900ms ease, -webkit-transform 900ms ease;
    top: 10px;
    position: absolute;
  }

  .header._active {
    height: 141px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu._active {
    top: 0px;
    -webkit-transition: top 800ms ease;
    -o-transition: top 800ms ease;
    transition: top 800ms ease;
    z-index: 0;
    height: 140px;
    background: #202020;
  }
  .burger__menu._active .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 740px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .burger__menu._active .burger__container .burger__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    top: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: none;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
  }

  .burger__menu {
    width: 740px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
    background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
    background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 800px) {
  .burger__menu._active .burger__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0px 20px;
  }

  .section:nth-child(1)._active {
    padding-top: 0px;
  }

  .burger__menu {
    width: 540px;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .burger__menu .burger__container .burger__right p {
    display: none;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FE9E46), to(#FFD74A));
    background: -o-linear-gradient(top, #FE9E46 0%, #FFD74A 100%);
    background: linear-gradient(180deg, #FE9E46 0%, #FFD74A 100%);
    -webkit-box-shadow: 1px 1px 2px #fec148;
    box-shadow: 1px 1px 2px #fec148;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135.4%;
    text-align: center;
    color: #FFFFFF;
  }

  .burger__menu._active .burger__container {
    width: 540px;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 0px 10px;
    font-size: 15px;
  }
  .burger__menu._active .burger__container .btn {
    padding: 11px 30px;
  }
}
@media screen and (max-width: 576px) {
  .header._active {
    height: 241px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    background: #202020;
  }

  .burger__menu {
    width: 85%;
  }
  .burger__menu .burger__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-transition: padding-top 800ms ease;
    -o-transition: padding-top 800ms ease;
    transition: padding-top 800ms ease;
    padding-top: 0px;
  }
  .burger__menu .burger__container .burger__navigation {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .burger__menu._active {
    width: 85%;
  }
  .burger__menu._active .burger__container {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .burger__menu._active .burger__container .burger__navigation {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .burger__menu._active .burger__container .burger__navigation .link {
    padding: 5px 0px;
  }
  .burger__menu._active .burger__container .burger__right p {
    display: block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: right;
    width: 194px;
    display: block;
  }
  .burger__menu._active .burger__container .burger__right .btn {
    display: block;
    padding: 11px 34px;
    margin: 60px 0px 0px 40px;
  }

  .section:nth-child(1) .block__h1 {
    -webkit-transition: padding-top 600ms ease;
    -o-transition: padding-top 600ms ease;
    transition: padding-top 600ms ease;
    padding-top: 10px;
    top: 104px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .section:nth-child(1) .section__container .container .block__h1 p {
    padding-top: 10px;
    width: 266px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 80px;
  }
  .section:nth-child(1) .section__container .container .block__h1 .btn {
    margin-top: 30px;
  }

  .section:nth-child(1)._active .block__h1 {
    -webkit-transition: padding-top 600ms ease;
    -o-transition: padding-top 600ms ease;
    transition: padding-top 600ms ease;
    padding-top: 10px;
    top: 254px;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .section:nth-child(1)._active .section__container .container .block__h1 p {
    padding-top: 10px;
    width: 266px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    height: 80px;
  }
  .section:nth-child(1)._active .section__container .container .block__h1 .btn {
    margin-top: 30px;
  }
}
.header .btn {
  background: #191919;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 1px 1px 5px #FEC148;
  box-shadow: 1px 1px 5px #FEC148;
  border-radius: 8px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section {
  margin: 60px 0px 120px 0px;
}
.section h1 {
  margin-left: 150px;
  padding-top: 20px;
  width: 853px;
  text-align: center;
}
.section h1 span {
  color: #FBA82B;
}
.section .section__card {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.section .section__card .card {
  width: 370px;
  height: 370px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.section .section__card .card .block__cards {
  padding: 20px;
}
.section .section__card .card .block__cards img {
  border-radius: 10px;
  width: 330px;
  height: 154px;
}
.section .section__card .card .block__cards h2 {
  padding-top: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 55px;
  color: #000000;
  padding-bottom: 20px;
}
.section .section__card .card:nth-child(1) .block__cards h2 {
  padding-bottom: 76px;
}
.section .section__card .card:nth-child(3) .block__cards h2 {
  padding-bottom: 76px;
}
.section .section__card .card:nth-child(5) .block__cards h2 {
  padding-bottom: 76px;
}
.section .section__card .card:nth-child(6) .block__cards h2 {
  padding-bottom: 76px;
}
.section .section__card .card:nth-child(8) .block__cards h2 {
  padding-bottom: 76px;
}

.footer__container-phone {
  display: none;
}

.footer {
  width: 100%;
  height: 559px;
  background: #191919;
  padding: 120px 0px;
}
.footer .footer__container .block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 60px;
}
.footer .footer__container .block__img p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer .footer__container .block__img .img__a {
  width: 148px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .block__img .img__a a:nth-child(3) {
  padding-top: 2px;
}
.footer .footer__container hr {
  border: 1px solid #fff;
}
.footer .footer__container .footer__section {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 11px 0px;
}
.footer .footer__container .footer__section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .footer__section .logo img {
  padding-right: 10px;
}
.footer .footer__container .footer__section .logo p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer .footer__container .footer__section .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .footer__container .footer__section .footer__navigation .link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0px 30px;
}
.footer .footer__container .footer__social {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .footer__container .footer__social p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer__container .footer__social .social__network {
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1060px) {
  .footer {
    width: 100%;
    height: 489px;
    background: #191919;
    padding: 80px 0px;
  }

  .footer .footer__container .footer__section .footer__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    height: 559px;
    padding: 60px 0px;
  }
  .footer .footer__container {
    display: none;
  }
  .footer .footer__container-phone {
    display: block;
  }
  .footer .footer__container-phone .block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 60px;
  }
  .footer .footer__container-phone .block__img p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .footer .footer__container-phone .block__img .img__a {
    width: 148px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer .footer__container-phone .block__img .img__a a:nth-child(3) {
    padding-top: 2px;
  }
  .footer .footer__container-phone hr {
    border: 1px solid #fff;
  }
  .footer .footer__container-phone .footer__section {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo img {
    padding-right: 10px;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .logo p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .footer__navigation {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .footer__container-phone .footer__section .footer__section-left .footer__navigation .link {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 8px 0px;
  }
  .footer .footer__container-phone .footer__section .footer__section-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .footer .footer__container-phone .footer__section .footer__section-right p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    padding: 75px 0px;
  }
  .footer .footer__container-phone .footer__section .footer__section-right .social__network img {
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    height: 459px;
    padding: 40px 0px;
  }

  .footer .footer__container-phone .footer__section .footer__section-right p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    padding: 65px 0px;
    text-align: right;
  }

  .footer .footer__container-phone .footer__section .footer__section-right .btn {
    padding: 11px 30px;
  }

  .footer .footer__container-phone .block__img {
    padding-bottom: 20px;
  }

  .footer .footer__container-phone .footer__section {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 1100px;
  }

  .section .section__card .card {
    width: 330px;
  }
  .section .section__card .card .block__cards img {
    width: 100%;
  }
  .section .section__card .card .block__cards h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }

  .section .section__card .card .block__cards {
    padding: 15px;
  }

  .section .section__card .card {
    width: 310px;
  }

  .section .section__card .card:nth-child(8) .block__cards h2 {
    padding-bottom: 20px;
  }

  .section h1 {
    margin-left: 0px;
    padding-top: 0px;
    width: auto;
    text-align: center;
  }

  .footer {
    width: 100%;
    height: 559px;
    background: #191919;
    padding: 80px 0px;
  }

  .section {
    margin: 40px 0px 80px 0px;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    width: 740px;
  }

  h1 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 135.4%;
    color: #000000;
  }

  .section .section__card .card {
    width: 230px;
  }

  .section .section__card .card .block__cards h2 {
    font-size: 26px;
    line-height: 35px;
  }

  .section .section__card .card:nth-child(3) .block__cards h2 {
    padding-bottom: 20px;
  }

  .section .section__card .card .block__cards {
    padding: 10px;
  }

  .section .section__card .card .block__cards h2 {
    padding-top: 15px;
    padding-bottom: 95px;
  }

  .footer {
    width: 100%;
    height: 519px;
    background: #191919;
    padding: 80px 0px;
  }

  .section .section__card .card .block__cards img {
    width: 100%;
    height: 130px;
  }

  .section .section__card .card {
    height: 325px;
  }

  .section .section__card .card:nth-child(3) .block__cards h2 {
    padding-bottom: 55px;
  }

  .section .section__card .card:nth-child(1) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section .section__card .card:nth-child(2) .block__cards h2 {
    padding-bottom: 55px;
  }

  .section .section__card .card .block__cards h2 {
    padding-top: 15px;
    padding-bottom: 55px;
  }

  .section .section__card .card:nth-child(5) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section .section__card .card:nth-child(6) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section .section__card .card:nth-child(7) .block__cards h2 {
    padding-bottom: 20px;
  }

  .section .section__card .card:nth-child(8) .block__cards h2 {
    padding-bottom: 55px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 540px;
  }

  h1 {
    font-size: 36px;
  }

  .section .section__card {
    padding-top: 20px;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .section .section__card .card {
    width: 260px;
  }

  .section .section__card .card:nth-child(2) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section .section__card .card:nth-child(3) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section .section__card .card:nth-child(7) .block__cards h2 {
    padding-bottom: 55px;
  }

  .section .section__card .card:nth-child(8) .block__cards h2 {
    padding-bottom: 90px;
  }

  .section {
    margin: 30px 0px 60px 0px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 85%;
  }

  .section h1 {
    font-size: 25px;
  }

  .section {
    margin: 20px 0px 40px 0px;
  }

  .section .section__card .card {
    width: 100%;
    height: 100%;
  }

  .section .section__card {
    padding-top: 10px;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .section .section__card .card .block__cards {
    padding: 5px;
    margin-bottom: 10px;
  }
  .section .section__card .card .block__cards a {
    margin-bottom: 20px;
  }

  .section .section__card .card .block__cards h2 {
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: calc(14px + 13.6 * (100vw - 320px) / 576);
    line-height: 25px;
    height: 90px;
  }

  .section .section__card .card .block__cards img {
    width: 100%;
    height: 100%;
  }

  .btn {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 135.4%;
    text-align: center;
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=support.css.map */